<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { useOrderItemStore } from "@/stores/orderItem";
import { useServeStore } from "@/stores/serve";
import { useTableStore } from "@/stores/table";
import { mdiArrowRightCircle } from "@mdi/js";
import { onMounted } from "vue";
import Swal from "sweetalert2";
import type OrderItem from "@/types/OrderItem";
import type Table from "@/types/Table";
import type orderItem from "@/services/orderItem";
const tableStore = useTableStore();
const serveStore = useServeStore();
const orderStore = useOrderStore();
const orderItemStore = useOrderItemStore();
let sum = 0;
let tableItem = -1;
let seatItem = -1;

const show = (id: number, seat: number) => {
  tableItem = id;
  seatItem = seat;
  console.log(tableItem);
  serveStore.isTable = false;
};

function checkbill(id: number, seat: number) {
  Swal.fire({
    title: "ยืนยันการชำระเงิน",
    text: "คุณต้องการยืนยันการชำระเงินใช่หรือไม่",
    icon: "question",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "ใช่!",
    cancelButtonText: "ยกเลิก",
  }).then((result) => {
    if (result.isConfirmed) {
      serveStore.isTable = false;

      // change waiting-clean
      // console.log(tableStore.selectedTable.id);
      // console.log(tableItem);
      // console.log(id);
      tableStore.selectedTable.id = tableItem;
      tableStore.selectedTable.table_name = tableItem.toString();
      tableStore.selectedTable.status = "waiting-clean";
      tableStore.selectedTable.seat = seatItem;
      tableStore.saveTable();
      // console.log(orderItemStore.orderItems);
      // console.log(userList.listByTableId);
      // console.log(tableList.list);
      // orderItemStore.clearListOrder();
      // ทำอะไรก็ตามที่ต้องการหลังจากกด OK
      Swal.fire("ชำระเงินเรียบร้อยแล้ว!", "THANK YOU!!!", "success");
    }
  });
}

onMounted(async () => {
  await tableStore.getTables();
  await orderStore.getOrders();
  await orderItemStore.getOrderItems();
});
</script>
<template>
  <v-toolbar dense dark color="#5F9EA0">
    <v-toolbar-title class="text-center"> เช็คบิล </v-toolbar-title>
  </v-toolbar>
  <v-card color="#F5F5F5" height="500">
    <v-row>
      <v-col cols="4">
        <v-container>
          <v-tabs bg-color="#cccccc"> <v-tab>รายการโต๊ะ</v-tab> </v-tabs>
          <VCard class="overflow-y-auto" height="420" width="341">
            <VList color="#006400" density="compact" nav>
              <VListItem
                v-for="item in tableStore.tables.filter(
                  (x) => x.status === 'busy'
                )"
                :key="item.id"
                class="tile_background2"
                two-line
                :append-icon="mdiArrowRightCircle"
                :value="item.id"
                @click="
                  if (item.id == item.id) {
                    // tableItem = item.id;
                    show(item.id, item.seat);
                    serveStore.isTable = true;
                  } else {
                    serveStore.isTable = false;
                  }
                "
                height="70"
              >
                <VListItemTitle>โต๊ะ : {{ item.table_name }} </VListItemTitle>
                <VListItemSubtitle
                  >Date : {{ item.date }} Time :
                  {{ item.time }}
                </VListItemSubtitle>
              </VListItem>
              <VDivider></VDivider>
            </VList>
          </VCard>
        </v-container>
      </v-col>
      <v-col>
        <v-container>
          <v-table>
            <thead>
              <tr>
                <th class="text-left">ลำดับ</th>
                <th class="text-left">รายการอาหาร</th>
                <th class="text-left">จำนวน</th>
                <th class="text-left">ราคา</th>
              </tr>
            </thead>
          </v-table>
          <VCard height="330" class="overflow-y-auto" bg-color="#5F9EA0">
            <v-table>
              <tbody v-if="serveStore.isTable">
                <tr
                  v-for="(item, index) of orderItemStore.orderItems.filter(
                    (x) => x.status == 'wait-checkbill'
                  )"
                  :key="item.id"
                >
                  <td v-if="item.tableId == tableItem">{{ index + 1 }}</td>
                  <td v-if="item.tableId == tableItem">{{ item.name }}</td>
                  <td v-if="item.tableId == tableItem">{{ item.amount }}</td>
                  <td v-if="item.tableId == tableItem">{{ item.total }}</td>
                  <!-- <td >ราคารวม{{ item.total+sum }}จำนวนรวม</td> -->
                </tr>
              </tbody>
            </v-table>
          </VCard>
          <div class="text-h6" style="margin-top: 10px">
            ราคารวม 0 จำนวนรวม 0
            <!-- {{ orderItemStore.orderItems.toString.call.price }} -->

          </div>
          <div>
            <v-btn class="btn" block @click="checkbill(tableItem, seatItem)"
              >ยืนยันการชำระเงิน</v-btn
            >
            <!-- <v-btn class="btn" block @click="showAlert()"
              >ยืนยันการสั่งอาหาร</v-btn
            > -->
          </div>
        </v-container>
      </v-col>
    </v-row>
  </v-card>
</template>

<style scoped>
.test {
  box-shadow: -6px 8px 5px -2px rgba(245, 2, 2, 0.14);
}

.custompick {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  background-color: rgb(38, 204, 38);
}

.centerpick {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin-top: 10px;
  /* margin-bottom: 10px; */
  background-color: rgb(114, 230, 110);
}
</style>
