<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import "@vuepic/vue-datepicker/dist/main.css";
const tableStore = useTableStore();

const submit = async () => {
  tableStore.dialogฺBilling = false;
  tableStore.dialogPayment = true;
};

const close = async () => {
  tableStore.dialogฺBilling = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialogฺBilling" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h6"
            >รายการอาหาร ( โต๊ะหมายเลข :
            {{ tableStore.selectedTable.table_name }} )</span
          >
        </v-card-title>
        <v-card-text>
          <v-table>
            <thead>
              <tr>
                <th class="text-left">เมนู</th>
                <th class="text-left">จำนวน</th>
                <th class="text-left">ราคา</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ราดหน้าทะเล</td>
                <td>2</td>
                <td>140</td>
              </tr>
              <tr>
                <td>ราดหน้าทะเล</td>
                <td>2</td>
                <td>140</td>
              </tr>
              <tr>
                <td>ราดหน้าทะเล</td>
                <td>2</td>
                <td>140</td>
              </tr>
              <tr>
                <td>ยอดรวมสุทธิ</td>
                <td>6 รายการ</td>
                <td>210</td>
              </tr>
            </tbody>
          </v-table>
          <v-btn
            v-if="tableStore.dialogCanPayment"
            style="width: 100%"
            color="green"
            @click="submit"
            >ยืนยันการชำระเงิน</v-btn
          >
          <v-btn style="width: 100%" color="red" @click="close">ปิด</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.table-item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 5px auto;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(63, 218, 32);
}
</style>
