<script setup lang="ts">
import { useMessageStore } from "@/stores/message";
import { useOrderStore } from "@/stores/order";
import { useTableStore } from "@/stores/table";
import type Order from "@/types/Order";
import type Table from "@/types/Table";
import { onMounted, ref } from "vue";
const tableStore = useTableStore();
const orderStore = useOrderStore();
const messageStore = useMessageStore();

const changeTable = (table: Table) => {
  const item = orderStore.orders;
  if (table.status == "available") {
    //change Table
    tableStore.changeTable(tableStore.selectedTable, table);
    //change Order
    tableStore.dialogChangeTable = false;
  } else if (table.status == "busy") {
    messageStore.showTable("โต๊ะเต็มแล้ว ไม่สามารถย้ายได้");
    tableStore.dialogChangeTable = true;
  } else {
    messageStore.showTable("กำลังรอทำความสะอาด");
    tableStore.dialogChangeTable = true;
  }
};

//mount
onMounted(async () => {
  await tableStore.getTables();
  await orderStore.getOrders();
});
</script>

<template>
  <v-dialog
    v-model="tableStore.dialogChangeTable"
    persistent
    max-width="1000px"
  >
    <v-card class="card-container">
      <v-card-title>
        <div class="card-title">เลือกโต๊ะที่ต้องการย้าย</div>
      </v-card-title>
      <div class="info">
        <div class="info-item">
          <div class="dot available"></div>
          <div class="text">ว่าง</div>
        </div>
        <div class="info-item">
          <div class="dot busy"></div>
          <div class="text">ไม่ว่าง</div>
        </div>
        <div class="info-item">
          <div class="dot waiting-clean"></div>
          <div class="text">รอทำความสะอาด</div>
        </div>
      </div>
      <div class="table-wrapper">
        <span>โต๊ะสำหรับ 4 คน</span>
        <div class="table-container">
          <div
            v-for="table in tableStore.tables.filter((x) => x.seat === 4)"
            :key="table.id"
            :class="table.status"
            class="table-item"
            @click="changeTable(table)"
          >
            {{ table.table_name }}
          </div>
        </div>

        <span>โต๊ะสำหรับ 8 คน</span>
        <div class="table-container">
          <div
            v-for="table in tableStore.tables.filter((x) => x.seat === 8)"
            :key="table.id"
            :class="table.status"
            class="table-item"
            @click="changeTable(table)"
          >
            {{ table.table_name }}
          </div>
        </div>
      </div>
      <v-btn
        class="cancel-button"
        color="red"
        @click="tableStore.dialogChangeTable = false"
        >ยกเลิก</v-btn
      >
    </v-card>
  </v-dialog>
</template>

<style scoped>
.card-container {
  background-color: #fff;
  padding: 50px 0px;
}

.card-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.cancel-button {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.available {
  background: rgb(63, 218, 32);
}

.busy {
  background: rgb(235, 22, 22);
}

.waiting-clean {
  background: rgb(27, 202, 233);
}

.info {
  display: flex;
  justify-content: center;
}

.info-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.dot {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 100%;
}

.table-wrapper {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.table-item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
</style>
