<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import "@vuepic/vue-datepicker/dist/main.css";

const tableStore = useTableStore();

const submit = async () => {
  tableStore.selectedTable.status = "available";
  tableStore.selectedTable.date = "";
  tableStore.selectedTable.time = "";
  tableStore.saveTable();
  tableStore.dialogฺClean = false;
};

const cancel = async () => {
  tableStore.dialogฺClean = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialogฺClean" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h5"> ยืนยัน </v-card-title>
        <v-card-text
          >ต้องการยืนยันการทำความสะอาดโต๊ะ
          {{ tableStore.selectedTable.table_name }}</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="submit"
            >ใช่</v-btn
          >
          <v-btn color="blue-darken-1" variant="text" @click="cancel"
            >ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
