<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import "@vuepic/vue-datepicker/dist/main.css";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import {
  mdiSilverwareForkKnife,
  mdiSquareEditOutline,
  mdiFormSelect,
  mdiReceiptTextCheckOutline,
} from "@mdi/js";

const form = ref<VForm | null>(null);
const tableStore = useTableStore();

const billing = async () => {
  tableStore.dialogBusy = false;
  tableStore.dialogCanPayment = true;
  tableStore.dialogฺBilling = true;
};

const viewOrder = async () => {
  tableStore.dialogBusy = false;
  tableStore.dialogCanPayment = false;
  tableStore.dialogฺBilling = true;
};

const clear = async () => {
  tableStore.dialogBusy = false;
  tableStore.clear();
};

const changeTable = async () => {
  tableStore.dialogBusy = false;
  tableStore.dialogChangeTable = true;
};
// const changeToBlue = () => {
//   //change waiting-clean
//   // tableStore.selectedTable.status = "waiting-clean";
//   // tableStore.saveTable();
// };
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialogBusy" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h6"
            >รายละเอียดการจอง ( โต๊ะหมายเลข :
            {{ tableStore.selectedTable.table_name }} )</span
          >
        </v-card-title>
        <v-card-text>
          <div :class="tableStore.selectedTable.status" class="table-item">
            {{ tableStore.selectedTable.table_name }}
          </div>
          <div class="table-info">
            <div class="flex">
              <span>วันที่ : </span>
              <span>{{ tableStore.selectedTable.date }}</span>
            </div>
            <div class="flex">
              <span>เวลา : </span>
              <span>{{ tableStore.selectedTable.time }}</span>
            </div>
          </div>
          <v-form ref="form">
            <v-container>
              <v-row
                class="justify-center action-container justify-space-around"
              >
                <!-- <div class="action-container"> -->
                <v-btn
                  href="/order"
                  :prepend-icon="mdiSilverwareForkKnife"
                  size="30px"
                >
                  <v-tooltip activator="parent" location="bottom"
                    >สั่งอาหาร</v-tooltip
                  ></v-btn
                >
                <v-btn
                  @click="changeTable"
                  :prepend-icon="mdiSquareEditOutline"
                  size="31.5px"
                >
                  <v-tooltip activator="parent" location="bottom"
                    >ย้ายโต๊ะ</v-tooltip
                  ></v-btn
                >
                <v-btn
                  :prepend-icon="mdiFormSelect"
                  size="30px"
                  @click="tableStore.dialogFood = true"
                >
                  <v-tooltip activator="parent" location="bottom"
                    >รายการอาหาร</v-tooltip
                  ></v-btn
                >
                <v-btn
                  href="/bill"
                  :prepend-icon="mdiReceiptTextCheckOutline"
                  size="30px"
                >
                  <v-tooltip activator="parent" location="bottom"
                    >เช็คบิล</v-tooltip
                  >
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" variant="text" @click="clear"> ปิด </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.table-item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 5px auto;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(235, 22, 22);
}

.table-info {
  display: flex;
  width: 130px;
  margin: 10px auto;
  justify-content: center;
  flex-direction: column;
}

.action-container {
  background: lightgray;
  width: 200px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

.action-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px auto;
}
</style>
