<script setup lang="ts">
import table from "@/services/table";
import { useOrderStore } from "@/stores/order";
import { useOrderItemStore } from "@/stores/orderItem";
import { useTableStore } from "@/stores/table";
import type { Namespaces } from "@vue/compiler-core";
import "@vuepic/vue-datepicker/dist/main.css";
import { onMounted } from "vue";

const tableStore = useTableStore();
const orderStore = useOrderStore();
const orderItemStore = useOrderItemStore();
let statusItem = "";
function checkStatus(status: string) {
  if (status == "wait") {
    statusItem = "กำลังรอ";
  } else if (status == "wait-cooking") {
    statusItem = "กำลังเตรียม";
  } else if (status == "cooking") {
    statusItem = "กำลังทำอาหาร";
  } else if (status == "serve") {
    statusItem = "พร้อมเสิร์ฟ";
  } else if (status == "wait-checkbill") {
    statusItem = "เสร็จสิ้น";
  }
  return statusItem;
}
const clear = async () => {
  console.log("Order :");
  console.log(
    orderStore.orders.filter(
      (x) => x.tables?.id == tableStore.selectedTable.id && x.status == "wait"
    )
  );
  tableStore.dialogFood = false;
};

//mount
onMounted(async () => {
  await tableStore.getTables();
  await orderStore.getOrders();
  await orderItemStore.getOrderItems();
});
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialogFood" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h6"
            >รายการอาหาร ( โต๊ะหมายเลข :
            {{ tableStore.selectedTable.table_name }} )</span
          >
        </v-card-title>
        <v-card-text>
          <v-table>
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>ชื่อ</th>
                <th>จำนวน</th>
                <th>สถานะ</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) of orderItemStore.orderItems.filter(
                  (x) => x.tableId === tableStore.selectedTable.id
                )"
                :key="index"
              >
                <td>
                  {{ index + 1 }}
                </td>
                <td>
                  {{ item.name }}
                </td>
                <td>{{ item.amount }}</td>
                <td v-if="checkStatus(JSON.parse(JSON.stringify(item.status)))">
                  {{ statusItem }}
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" variant="text" @click="clear"> ปิด </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.table-item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 5px auto;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(235, 22, 22);
}

.table-info {
  display: flex;
  width: 130px;
  margin: 10px auto;
  justify-content: center;
  flex-direction: column;
}

.action-container {
  background: lightgray;
  width: 200px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

.action-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px auto;
}
</style>
