<script setup lang="ts">
import { useTableStore } from "@/stores/table";

const tableStore = useTableStore();

const submit = async () => {
  tableStore.dialogPayment = false;
  tableStore.selectedTable.status = "waiting-clean";
  tableStore.saveTable();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialogPayment" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h6"
            >ชำระเงิน ( โต๊ะหมายเลข :
            {{ tableStore.selectedTable.table_name }} )</span
          >
        </v-card-title>
        <v-card-text>
          <div class="qc-container">
            <img
              src="https://play-lh.googleusercontent.com/ufwUy4SGVTqCs8fcp6Ajxfpae0bNImN1Rq2cXUjWI7jlmNMCsXgQE5C3yUEzBu5Gadkz"
              alt=""
            />
          </div>
          <div class="net-amount">ยอดรวมสุทธิ : 210.00 บาท</div>
          <v-btn style="width: 100%" color="green" @click="submit"
            >ชำระเงินเรียบร้อย</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.qc-container {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid #000;
  margin: 0 auto;
  padding: 3px;
}

.qc-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.net-amount {
  margin: 10px auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
</style>
