<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import "@vuepic/vue-datepicker/dist/main.css";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const form = ref<VForm | null>(null);
const tableStore = useTableStore();

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    tableStore.selectedTable.status = "busy";
    tableStore.saveTable();
  }
};

const clear = () => {
  tableStore.dialogTable = false;
  tableStore.clear();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialogTable" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h6"
            >รายละเอียดการจอง ( โต๊ะหมายเลข :
            {{ tableStore.selectedTable.table_name }} )</span
          >
        </v-card-title>
        <v-card-text>
          <div :class="tableStore.selectedTable.status" class="table-item">
            {{ tableStore.selectedTable.table_name }}
          </div>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="tableStore.selectedTable.date"
                    label="วันที่"
                    hint="*จำเป็นต้องใส่"
                    variant="outlined"
                    :rules="[(v) => !!v || '*จำเป็นต้องใส่']"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="tableStore.selectedTable.time"
                    label="เวลา"
                    hint="*จำเป็นต้องใส่"
                    variant="outlined"
                    :rules="[(v) => !!v || '*จำเป็นต้องใส่']"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green" variant="text" @click="save"> บันทึก </v-btn>
          <v-btn color="error" variant="text" @click="clear"> ยกเลิก </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.table-item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 5px auto;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(63, 218, 32);
}
</style>
