<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import type Table from "@/types/Table";
import { mdiBookEditOutline } from "@mdi/js";
import { onMounted } from "vue";
const tableStore = useTableStore();

const aTable = (table: Table) => {
  tableStore.selectedTable = table;
  if (table.status === "available") {
    tableStore.dialogTable = true;
  } else if (table.status === "busy") {
    tableStore.dialogBusy = true;
  } else if (table.status === "waiting-clean") {
    tableStore.dialogฺClean = true;
  }
};

//mount
onMounted(async () => {
  await tableStore.getTables();
});
</script>

<template>
  <div class="info">
    <div class="info-item">
      <div class="dot available"></div>
      <div class="text">ว่าง</div>
    </div>
    <div class="info-item">
      <div class="dot busy"></div>
      <div class="text">ไม่ว่าง</div>
    </div>
    <div class="info-item">
      <div class="dot waiting-clean"></div>
      <div class="text">รอทำความสะอาด</div>
    </div>
  </div>
  <div class="table-wrapper">
    <span>โต๊ะสำหรับ 4 คน</span>
    <div class="table-container">
      <div
        v-for="table in tableStore.tables.filter((x) => x.seat === 4)"
        :key="table.id"
        :class="table.status"
        class="table-item"
        @click="aTable(table)"
      >
        {{ table.table_name }}
      </div>
    </div>

    <span>โต๊ะสำหรับ 8 คน</span>
    <div class="table-container">
      <div
        v-for="table in tableStore.tables.filter((x) => x.seat === 8)"
        :key="table.id"
        :class="table.status"
        class="table-item"
        @click="aTable(table)"
      >
        {{ table.table_name }}
      </div>
    </div>
  </div>
</template>

<style scoped>
.available {
  background: rgb(63, 218, 32);
}

.busy {
  background: rgb(235, 22, 22);
}

.waiting-clean {
  background: rgb(27, 202, 233);
}

.info {
  display: flex;
  justify-content: center;
}

.info-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.dot {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 100%;
}

.table-wrapper {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.table-item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
</style>
