<script setup lang="ts">
import TableDialog from "./TableDialog.vue";
import TableList from "./TableList.vue";
import DialogBusy from "./DialogBusy.vue";
import BillingDialog from "./BillingDialog.vue";
import PaymentDialog from "./PaymentDialog.vue";
import CleanDialog from "./CleanDialog.vue";
import ChangeTable from "./ChangeTable.vue";
import FoodDialog from "./FoodDialog.vue";
</script>

<template>
  <v-container>
    <v-card>
      <v-column>
        <TableList></TableList>
      </v-column>
    </v-card>
  </v-container>
  <TableDialog></TableDialog>
  <DialogBusy></DialogBusy>
  <BillingDialog></BillingDialog>
  <PaymentDialog></PaymentDialog>
  <CleanDialog></CleanDialog>
  <ChangeTable></ChangeTable>
  <FoodDialog></FoodDialog>
</template>

<style scoped></style>
