<script lang="ts" setup>
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useTableStore } from "@/stores/table";
import { onMounted, ref } from "vue";
import MTableDialog from "./MTableDialog.vue";
const confirmDlg = ref();
const tableStore = useTableStore();
onMounted(async () => {
  await tableStore.getTables();
});
</script>
<template>
  <MTableDialog></MTableDialog>
  <v-btn
    @click="tableStore.dialogEditTable = true"
    color="purple"
    width="100"
    height="50"
    >Add New</v-btn
  >
  <v-container></v-container>
  <div></div>
  <v-tabs bg-color="#cccccc"> <v-tab>โต๊ะ</v-tab> </v-tabs>
  <v-table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Seat</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of tableStore.tables" :key="item.id">
        <td>{{ item.table_name }}</td>
        <td>{{ item.seat }}</td>
        <td>
          <v-btn class="mr-5" @click="tableStore.editTable(item)" color="blue"
            >Edit</v-btn
          ><v-btn @click="tableStore.deleteTable(item.id)" color="red"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
  <!-- <ConfirmDialog ref="confirmDlg"></ConfirmDialog> -->
</template>
