<script lang="ts" setup>
import { useTableStore } from "@/stores/table";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const tableStore = useTableStore();

async function save() {
  console.log("");
  const { valid } = await form.value!.validate();
  if (valid) {
    await tableStore.saveTable();
    tableStore.dialogEditTable = false;
  }
}
</script>

<template>
  <VDialog v-model="tableStore.dialogEditTable" persistent width="1024"
    ><VCard>
      <VCardTitle>
        <span class="text-h5">Table</span>
      </VCardTitle>
      <VCardText>
        <VForm ref="form">
          <VContainer>
            <VRow>
              <VCol cols="12">
                <VTextField
                  label="Name*"
                  required
                  v-model="tableStore.selectedTable.table_name"
                  :rules="[(v) => !!v || 'Item is required']"
                ></VTextField>
              </VCol>
              <VCol cols="12">
                <VTextField
                  label="Seat*"
                  required
                  v-model.number="tableStore.selectedTable.seat"
                  :rules="[(v) => !!v || 'Item is required']"
                ></VTextField>
              </VCol>
            </VRow>
          </VContainer>
        </VForm>
        <small>*indicates required field</small>
      </VCardText>
      <VCardActions>
        <VSpacer></VSpacer>
        <VBtn
          color="blue-darken-1"
          variant="text"
          @click="tableStore.dialogEditTable = false"
        >
          Close
        </VBtn>
        <VBtn color="blue-darken-1" variant="text" @click="save"> Save </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>
