<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiCashRegister,
  mdiAccount,
  mdiRoomService,
  mdiSilverwareForkKnife,
  mdiTableFurniture,
  mdiClipboardTextOutline,
  mdiChefHat,
  mdiExitToApp,
  mdiFood,
  mdiTableEdit,
} from "@mdi/js";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
const logout = () => {
  loginStore.logout();
};
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar dense dark color="#5F9EA0">
      <v-btn>Group NewGenesis</v-btn>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >เปลี่ยนสีพื้นหลัง</v-btn
      >
      <v-btn :prepend-icon="mdiExitToApp" @click="logout">ออกจากระบบ</v-btn>
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://i.pinimg.com/736x/7f/5e/97/7f5e97d6952ea114f3a96fc5103f6504.jpg"
          :title="loginStore.loginName"
          subtitle="NewGenesis@gmail.com"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <!-- <v-list-item
          :prepend-icon="mdiAccount"
          title="สมาชิก"
          value="users"
          to="/user"
        ></v-list-item> -->
        <v-list-item
          :prepend-icon="mdiTableFurniture"
          title="เปิดโต๊ะ"
          value="tables"
          to="/tables"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiSilverwareForkKnife"
          title="ออเดอร์"
          value="order"
          to="/order"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiClipboardTextOutline"
          title="รายการอาหาร"
          value="listOrder"
          to="/listOrder"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiChefHat"
          title="ห้องครัว"
          value="kitchen"
          to="/kitchen"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiRoomService"
          title="เสิร์ฟอาหาร"
          value="serve"
          to="/serve"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCashRegister"
          title="เช็คบิล"
          value="bill"
          to="/bill"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiFood"
          title="เมนู"
          value="menu"
          to="/menu"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiTableEdit"
          title="จัดการโต๊ะ"
          value="Mtable"
          to="/Mtables"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
