<script setup lang="ts">
import { useListOrder, useTables } from "@/stores/listorder";
import Swal from "sweetalert2";
import { useMenuStore } from "@/stores/menu";
import { useOrderStore } from "@/stores/order";
import { onMounted } from "vue";
import { useOrderItemStore } from "@/stores/orderItem";
import orderItem from "@/services/orderItem";
import order from "@/services/order";
import type OrderItem from "@/types/OrderItem";
// import type Listorder from "@/types/ListOrder";
const userList = useListOrder();
const tableList = useTables();
const orderStore = useOrderStore();
const orderItemStore = useOrderItemStore();

onMounted(async () => {
  await orderItemStore.getOrderItems();
});

const deleteListorder = (id: number): void => {
  console.log("deleteListorder:", id);
  orderItemStore.deleteOrderItem(id);
};

const clearListOrder = (index: number): void => {
  console.log("deleteListorder:", index);
  orderItemStore.clearListOrder;
};

// function ListOrderToKitchen() {
// console.log("Table:", );
// console.log("Order in table:", orderItemStore.listByTableId);
// รายการที่จะส่งไปที่ครัว
// console.log("รายการที่จะส่งไปที่ครัว:", orderItemStore.listByTableId);
// ลบรายการที่ส่งไปแล้ว
//   tableList.removeTableById(userList.tableId); // เอาโต๊ะออก
//   userList.isTable = false; // ปิดการแสดงรายการ Order
//   userList.removeOrderByTableId(userList.tableId); // ลบรายการ Order ของโต๊ะที่ระบุ
//   userList.tableId = -1; //
//  }

function showAlert(orderItem: OrderItem) {
  Swal.fire({
    title: "คุณต้องการส่งอาหารเข้าครัว?",
    text: "คุณต้องการที่จะส่งรายการอาหารนี้ใช่หรือไม่",
    icon: "question",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "ใช่!",
    cancelButtonText: "ยกเลิก",
  }).then((result) => {
    if (result.isConfirmed) {
      orderItemStore.saveOrderItem(orderItem);

      // console.log(orderItemStore.orderItems);
      // console.log(userList.listByTableId);
      // console.log(tableList.list);
      orderItemStore.clearListOrder();
      // ทำอะไรก็ตามที่ต้องการหลังจากกด OK
      Swal.fire(
        "ส่งเข้าครัวแล้ว!",
        "รายการอาหารของคุณถูกส่งไปครัวแล้ว",
        "success"
      );
    }
  });
}
</script>

<template>
  <VContainer>
    <VRow>
      <VCol cols="12">
        <VTable>
          <thead>
            <tr>
              <th>คิว</th>
              <th>เมนู</th>
              <th>จำนวน</th>
            </tr>
          </thead>
        </VTable>
        <v-card height="280" class="overflow-y-auto" bg-color="#5F9EA0">
          <VTable>
            <tbody>
              <tr
                v-for="(item, index) of orderItemStore.orderItems.filter(
                  (x) => x.status == 'wait'
                )"
                :key="index"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.amount }}</td>
                <td>
                  <VBtn color="green" class="ma-1" @click="showAlert(item)"
                    >ยืนยัน</VBtn
                  >
                  <VBtn
                    color="red"
                    class="ma-1"
                    @click="orderItemStore.deleteOrderItem(item.id)"
                    >ยกเลิก</VBtn
                  >
                </td>
              </tr>
            </tbody>
          </VTable>
        </v-card>

        <!-- <VBtn block class="VBtn" @click="showAlert">ยืนยัน</VBtn> -->
      </VCol>
    </VRow>
  </VContainer>
</template>

<style scoped>
.my-col-class {
  text-align: center;
  margin: 0 auto;
}

.VBtn {
  margin-top: 10px;
  background-color: rgb(114, 230, 110);
}
</style>
