<script setup lang="ts">
import { useListOrder, useTables } from "@/stores/listorder";
import { mdiArrowRightCircle, mdiSend } from "@mdi/js";
import ListOrder from "./ListOrder.vue";
const userList = useListOrder();
const tableList = useTables();

// const showOrder = false;

const showOrder = (tableId: number) => {
  console.log("Show table:", tableId);
  userList.isTable = true;
  userList.updateListByTableId(tableId);
};
</script>

<template>
  <v-toolbar dense dark color="#5F9EA0">
    <v-toolbar-title class="text-center"> รายการสั่งอาหาร </v-toolbar-title>
    <!-- <v-spacer></v-spacer> -->
  </v-toolbar>
  <v-divider></v-divider>
  <v-card color="#F1F1F1" height="500">
    <v-row>
      <!-- <v-col>
        <v-container>
          <v-col cols="5" class="table_title">
            <v-card color="#FFFFFF" dark>
              <v-card-text>ออเดอร์อาหาร</v-card-text>
            </v-card>
          </v-col>
          <v-container>
            <v-card>
              <v-list density="compact" nav>
                <v-list-item
                  v-for="item of tableList.list"
                  :key="item.id"
                  class="tile_background1"
                  :append-icon="mdiArrowRightCircle"
                  :value="item.id"
                  @click="
                    showOrder(item.id)
                    // if (item.id == item.table) {
                    //   userList.isTable = true;
                    // } else {
                    //   userList.isTable = false;
                    // }
                  "
                  ><v-list-item-title
                    >โต๊ะ : {{ item.id }} - {{ item.table }}
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-card> -->
      <!-- จบอันที่1 -->
      <!-- </v-container>
        </v-container>
      </v-col> -->
      <v-col>
        <v-container fluid>
          <v-col cols="5" class="table_title">
            <v-card color="#FFFFFF" dark>
              <v-card-text>รายการส่งเข้าครัว</v-card-text>
            </v-card>
          </v-col>
          <!-- <v-card> -->
          <v-row>
            <v-col cols="12">
              <!-- <v-table> -->
              <!-- <tr>
                    <th>คิว</th>
                    <th>เมนู</th>
                    <th>จำนวน</th>
                  </tr> -->
              <!-- </v-table> -->
              <!-- <ListOrder v-if="userList.isTable"></ListOrder> -->
              <!-- <ListOrder v-if="userList.isTable"></ListOrder> -->
              <ListOrder></ListOrder>
              <!-- <thead>
                  <tr>
                    <td>
                      <v-btn color="green" class="ma-1">ยืนยัน</v-btn>
                    </td>
                  </tr>
                </thead> -->
              <!-- <ServeDialog /> -->
            </v-col>
          </v-row>
          <!-- </v-card> -->
        </v-container>
      </v-col>
    </v-row>
  </v-card>
</template>

<style scoped>
.table_title {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.tile_background1 {
  background-color: #c7d2e6;
}

.tile_background2 {
  background-color: #eaf3f8;
}
</style>
