<script lang="ts" setup>
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useMenuStore } from "@/stores/menu";
import { useCategoryStore } from "@/stores/category";
import { onMounted, ref } from "vue";
import MenuDialog from "./MenuDialog.vue";

const menuStore = useMenuStore();
const categoryStore = useCategoryStore();
const confirmDlg = ref();
const backendURL = import.meta.env.VITE_BACKEND_URL;

onMounted(async () => {
  await menuStore.getMenusByCategory(menuStore.category);
  await categoryStore.getCategories();
});

const deleteMenu = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      // `คุณต้องการลบเมนูนี้ ${id} หรือไม่`
      `คุณต้องการลบเมนูนี้หรือไม่`
    );
    menuStore.deleteMenu(id);
  } catch (e) {
    /* empty */
  }
};
</script>
<template>
  <MenuDialog></MenuDialog>
  <v-btn @click="menuStore.dialog = true" color="purple" width="100" height="50"
    >Add New</v-btn
  >
  <v-container></v-container>
  <!-- <div>{{ menuStore.category }}</div> -->
  <div></div>
  <v-tabs v-model="menuStore.category" bg-color="#5F9EA0">
    <v-tab
      v-for="item of categoryStore.categories"
      :value="item.id"
      :key="item.id"
      >{{ item.name }}</v-tab
    >
  </v-tabs>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of menuStore.menus" :key="item.id">
        <td>{{ item.id }}</td>
        <td>
          <v-img :src="`${backendURL}/menus/image/${item.image}`"></v-img>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn class="mr-5" @click="menuStore.editMenu(item)" color="blue"
            >Edit</v-btn
          ><v-btn @click="deleteMenu(item.id!)" color="red">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>
