<script lang="ts" setup>
import { useCategoryStore } from "@/stores/category";
import { useMenuStore } from "@/stores/menu";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const menuStore = useMenuStore();
const categoryStore = useCategoryStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await menuStore.saveMenu();
  }
}
onMounted(async () => {
  await categoryStore.getCategories();
});
</script>
<template>
  <VDialog v-model="menuStore.dialog" persistent width="1024">
    <VCard>
      <VCardTitle>
        <span class="text-h5">Menu</span>
      </VCardTitle>
      <VCardText>
        <VForm ref="form">
          <VContainer>
            <VRow>
              <VCol cols="12">
                <VTextField
                  label="Name*"
                  required
                  v-model="menuStore.editedMenu.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></VTextField>
              </VCol>
              <VCol cols="12">
                <VTextField
                  label="Price*"
                  required
                  v-model.number="menuStore.editedMenu.price"
                  :rules="[(v) => !!v || 'Item is required']"
                ></VTextField>
              </VCol>
              <v-col cols="12">
                <v-select
                  v-model="menuStore.editedMenu.categoryId"
                  :items="categoryStore.categories"
                  item-title="name"
                  item-value="id"
                  label="Select"
                  single-line
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-file-input
                  v-model="menuStore.editedMenu.files"
                  accept="image/*"
                  label="Image Input"
                ></v-file-input>
              </v-col>
            </VRow>
          </VContainer>
        </VForm>
        <small>*indicates required field</small>
      </VCardText>
      <VCardActions>
        <VSpacer></VSpacer>
        <VBtn
          color="blue-darken-1"
          variant="text"
          @click="menuStore.dialog = false"
        >
          Close
        </VBtn>
        <VBtn color="blue-darken-1" variant="text" @click="save"> Save </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>
