<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { onMounted } from "vue";

const menuStore = useMenuStore();

//mount
onMounted(async () => {
  await menuStore.getMenus();
});

withDefaults(
  defineProps<{
    type: string;
  }>(),
  {
    type: "",
  }
);
</script>

<template>
  <v-container>
    <div class="food-container">
      <div
        class="food-item"
        v-for="item of menuStore.menus.filter((x) => x.type === type)"
        :key="item.id"
      >
        <div class="food-image">
          <img :src="item.img" alt="" />
        </div>
        <div class="food-name">{{ item.name }}</div>
        <div class="food-price">{{ item.price.toLocaleString() }} บาท</div>
        <div class="food-button">สั่ง</div>
      </div>
    </div>
  </v-container>
</template>

<style scoped>
.food-container {
  display: flex;
}

.food-item {
  width: 200px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}

.food-image {
  height: 100px;
  margin-bottom: 10px;
}

.food-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.food-price {
  color: #cb2a2a;
  margin: 5px 0px;
}

.food-button {
  cursor: pointer;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(255, 230, 0);
}
</style>
