<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { onMounted } from "vue";

const menuStore = useMenuStore();

//mount
onMounted(async () => {
  await menuStore.getMenus();
});

withDefaults(
  defineProps<{
    type: string;
  }>(),
  {
    type: "",
  }
);
</script>

<template>
  <v-container>
    <v-table>
      <thead>
        <tr>
          <th>เมนู</th>
          <th>จำนวน</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ข้าวหน้าทะเล</td>
          <td class="count-action">
            <span style="background: red" class="action">-</span>
            1,000
            <span style="background: green" class="action">+</span>
          </td>
          <td>ลบ</td>
        </tr>
      </tbody>
    </v-table>
  </v-container>
</template>

<style scoped>
th {
  text-align: center !important;
}

.v-table {
  min-height: 600px !important;
}

.count-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 0px 5px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
</style>
