<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { onMounted, ref } from "vue";
import { useOrderStore } from "@/stores/order";
import OrderDialog from "./OrderDialog.vue";

import { useCategoryStore } from "@/stores/category";
import { mdiCartPlus, mdiDelete, mdiPencil } from "@mdi/js";
import { useTableStore } from "@/stores/table";
import type Order from "@/types/Order";
const backendURL = import.meta.env.VITE_BACKEND_URL;
const menuStore = useMenuStore();
const orderStore = useOrderStore();
const categoryStore = useCategoryStore();
const tableStore = useTableStore();

onMounted(async () => {
  await menuStore.getMenus();
  await menuStore.getMenusByCategory(menuStore.category);
  await categoryStore.getCategories();
});

const confirmDialog = () => {
  orderStore.dialog = true;
};

const props = withDefaults(
  defineProps<{
    rating: number;
  }>(),
  { rating: 0 }
);

const count = ref(props.rating);

function inc() {
  count.value++;
}
function dec() {
  count.value--;
  if (count.value < 0) {
    count.value = 0;
  }
}
</script>

<template>
  <VToolbar dense dark color="#5F9EA0">
    <VToolbarTitle class="text-center"> สั่งอาหาร </VToolbarTitle>
    <!-- <v-spacer></v-spacer> -->
  </VToolbar>
  <VCard color="#F5F5F5" height="500">
    <v-container>
      <v-row>
        <v-col>
          <v-tabs v-model="menuStore.category" bg-color="#5F9EA0">
            <v-tab
              v-for="item of categoryStore.categories"
              :value="item.id"
              :key="item.id"
              >{{ item.name }}</v-tab
            > </v-tabs
          ><v-container>
            <v-card height="420" class="overflow-y-auto" bg-color="#5F9EA0">
              <div class="custompick2">
                <v-row>
                  <v-col
                    v-for="item of menuStore.menus"
                    :key="item.id"
                    cols="6"
                  >
                    <v-card width="200" height="285">
                      <v-card-item>
                        <v-card-title>{{ item.name }}</v-card-title>
                        <v-card-subtitle>{{
                          item.category?.name
                        }}</v-card-subtitle>
                      </v-card-item>
                      <v-card-text
                        ><v-img
                          :src="`${backendURL}/menus/image/${item.image}`"
                          height="128px"
                        ></v-img>
                        <div class="centerpick">{{ item.price }} บาท</div>
                      </v-card-text>

                      <div class="centerpick">
                        <v-btn
                          class="custompick"
                          @click="orderStore.addMenu(item)"
                          :icon="mdiCartPlus"
                        ></v-btn>
                      </div>
                    </v-card>
                  </v-col>
                </v-row>
              </div>
            </v-card>
          </v-container>
        </v-col>

        <v-col>
          <v-table>
            <thead>
              <tr>
                <th>ชื่อ</th>
                <th></th>
                <th></th>
                <th>ราคา</th>
                <th>จำนวน</th>
                <th>ราคารวม</th>
                <th></th>
              </tr>
            </thead>
          </v-table>
          <v-card height="320" class="overflow-y-auto" bg-color="#5F9EA0">
            <v-table>
              <tbody>
                <tr v-for="(item, index) of orderStore.orderList" :key="index">
                  <td>{{ item.menu.name }}</td>
                  <td></td>
                  <td></td>
                  <td>{{ item.menu.price }}</td>
                  <td></td>
                  <td>{{ item.amount }}</td>
                  <td></td>
                  <td></td>
                  <!-- <v-btn variant="flat" color="#FF4500" @click="dec()">
                    -
                    </v-btn>
                        <td>{{ count }}</td>
                        <v-btn variant="flat" color="secondary" @click="inc()">
                          +
                        </v-btn> -->
                  <td>{{ item.sum }}</td>
                  <td>
                    <!-- <v-btn
                            :icon="mdiPencil"
                            color="secondary"
                            class="ma-2"
                          ></v-btn> -->
                    <v-btn
                      @click="orderStore.deleteMenu(index)"
                      :icon="mdiDelete"
                      color="error"
                      class="ma-2"
                    ></v-btn>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card>

          <div class="text-h6" style="margin-top: 10px">
            ราคารวม {{ orderStore.sumPrice }} จำนวนรวม
            {{ orderStore.sumAmount }}
          </div>
          <div>
            <v-btn class="btn" block @click="confirmDialog()"
              >ยืนยันการสั่งอาหาร</v-btn
            >
            <!-- <v-btn class="btn" block @click="showAlert()"
              >ยืนยันการสั่งอาหาร</v-btn
            > -->
          </div>
        </v-col>
      </v-row>
    </v-container>
  </VCard>
  <OrderDialog />
  <!-- <div class="container">
          <div class="tabs-container">
            <v-tabs v-model="menuStore.tabs" bg-color="gray">
              <v-tab value="food">อาหาร</v-tab>
              <v-tab value="drink">เครื่องดื่ม</v-tab>
            </v-tabs>
            <v-card-text>
              <v-window v-model="menuStore.tabs">
                <v-window-item value="food">
                  <FoodView :type="'food'"></FoodView>
                </v-window-item>
                <v-window-item value="drink">
                  <FoodView :type="'drink'"></FoodView>
                </v-window-item>
              </v-window>
            </v-card-text>
          </div>
          <div class="tabs-container">
            <v-tabs v-model="menuStore.tabs2" bg-color="gray">
                <v-tab value="order">รายการสั่งอาหาร</v-tab>
              </v-tabs>
              <v-card-text>
                <v-window v-model="menuStore.tabs2">
                  <v-window-item value="order">
                    <ListOrderView></ListOrderView>
                    <v-btn width="100%" block color="green">ยืนยัน</v-btn>
                  </v-window-item>
                </v-window>
              </v-card-text>
            </div>
          </div> -->
</template>

<style scoped>
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.v-tabs {
  background: lightgray !important;
}

.tabs-container {
  width: 48%;
  background-color: rgb(250, 250, 250);
}

.custompick {
  margin-left: 10px;
  margin-right: 10px;
  /* margin-top: 1px; */
  /* margin-bottom: 10px; */
  background-color: rgb(247, 239, 92);
}

.custompick2 {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  /* margin-bottom: 10px; */
}

.btn {
  margin-top: 10px;
  /* margin-bottom: 10px; */
  background-color: rgb(114, 230, 110);
}

.centerpick {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
