<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useOrderStore } from "@/stores/order";
import type { VForm } from "vuetify/components";
import { useTableStore } from "@/stores/table";
import type Table from "@/types/Table";
import Swal from "sweetalert2";
const form = ref<VForm | null>(null);
const orderStore = useOrderStore();
const close = () => {
  orderStore.close();
  orderStore.dialog = false;
};
const tableStore = useTableStore();

onMounted(async () => {
  await tableStore.getTables();
});

function chooseTable(table: Table) {
  // console.log(table.id);
  orderStore.close();
  orderStore.dialog = false;
  showAlert(table);
  // return table.id;
}
onMounted(async () => {
  await tableStore.getTables();
});

// function selected() {
//   orderStore.close();
//   orderStore.dialog = false;
//   // orderStore.alert = true;
//   showAlert();
// }

const showAlert = (table: Table) => {
  Swal.fire({
    title: "ยืนยันการสั่งอาหาร",
    text: "คุณต้องการยืนยันการสั่งอาหารนี้ใช่หรือไม่",
    icon: "question",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "ใช่!",
    cancelButtonText: "ยกเลิก",
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire(
        "สั่งอาหารแล้ว!",
        "รายการสั่งอาหารของคุณเรียบร้อยแล้ว",
        "success"
      );
      // eslint-disable-next-line no-undef
      orderStore.openOrder(table);
    }
  });
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="orderStore.dialog" persistent max-width="800px">
      <v-card>
        <v-card-title class="text-h5"> ยืนยันการสั่งอาหาร </v-card-title>
        <v-card-text>กรุณาเลือกโต๊ะที่ต้องการ</v-card-text>

        <div class="table-container">
          <div
            v-for="table in tableStore.tables.filter(
              (x) => x.status === 'busy'
            )"
            :key="table.id"
            class="table-item"
            @click="chooseTable(table)"
          >
            {{ table.table_name }}
          </div>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="close">
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.card-container {
  background-color: #fff;
  padding: 50px 0px;
}
.table-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.table-item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(235, 22, 22);
}
</style>
