<script setup lang="ts">
import { mdiArrowRightCircle } from "@mdi/js";
import ServeList from "./ServeList.vue";
import ServeDialog from "./ServeDialog.vue";
import { useServeStore } from "@/stores/serve";
import { useTableStore } from "@/stores/table";
import type Serve from "@/types/Serve";
import { onMounted } from "vue";
import { useOrderStore } from "@/stores/order";
import { useOrderItemStore } from "@/stores/orderItem";
import type OrderItem from "@/types/OrderItem";
const serveStore = useServeStore();
const tableStore = useTableStore();
const orderStore = useOrderStore();
const orderItemStore = useOrderItemStore();
let tableItem = -1;
let statusItem = "";
function checkStatus(status: string) {
  if (status == "wait") {
    statusItem = "กำลังรอ";
  } else if (status == "wait-cooking") {
    statusItem = "กำลังเตรียม";
  } else if (status == "cooking") {
    statusItem = "กำลังทำอาหาร";
  } else if (status == "serve") {
    statusItem = "พร้อมเสิร์ฟ";
  } else if (status == "wait-checkbill") {
    statusItem = "เสร็จสิ้น";
  }
  return statusItem;
}

const show = (id: number) => {
  tableItem = id;
  console.log(tableItem);
  serveStore.isTable = false;
};

const editServe = (orderItem: OrderItem) => {
  // serveStore.dialog = true;
  orderItemStore.saveOrderItemCheckbill(orderItem);
};

onMounted(async () => {
  await tableStore.getTables();
  await orderStore.getOrders();
  await orderItemStore.getOrderItems();
});
</script>

<template>
  <VToolbar dense dark color="#5F9EA0">
    <VToolbarTitle class="text-center"> เสิร์ฟอาหาร </VToolbarTitle>
    <!-- <v-spacer></v-spacer> -->
  </VToolbar>
  <VDivider></VDivider>
  <VCard color="#F5F5F5" height="500">
    <VRow>
      <VCol cols="4">
        <v-container>
          <v-tabs bg-color="#cccccc"> <v-tab>โต๊ะ</v-tab> </v-tabs>
          <VCard class="overflow-y-auto" height="420" width="341">
            <VList color="#006400" density="compact" nav>
              <VListItem
                v-for="item in tableStore.tables.filter(
                  (x) => x.status === 'busy'
                )"
                :key="item.id"
                class="tile_background2"
                two-line
                :append-icon="mdiArrowRightCircle"
                :value="item.id"
                @click="
                  if (item.id == item.id) {
                    // tableItem = item.id;
                    show(item.id);
                    serveStore.isTable = true;
                  } else {
                    serveStore.isTable = false;
                  }
                "
                height="70"
              >
                <VListItemTitle>โต๊ะ : {{ item.table_name }} </VListItemTitle>
                <VListItemSubtitle
                  >Date : {{ item.date }} Time :
                  {{ item.time }}
                </VListItemSubtitle>
              </VListItem>
              <VDivider></VDivider>
            </VList>
          </VCard>
        </v-container>
      </VCol>
      <VCol>
        <VContainer fluid>
          <v-tabs bg-color="#cccccc"> <v-tab>ออเดอร์</v-tab> </v-tabs>
          <v-divider></v-divider>
          <!-- <VCard width="520" height="300" class="ma-3 text-xs-center"> -->
          <VRow>
            <VCol cols="12">
              <VTable>
                <thead>
                  <tr color="#006400">
                    <th>คิว</th>
                    <th>เมนู</th>
                    <th></th>
                    <th></th>
                    <th>โต๊ะ</th>
                    <th>จำนวน</th>
                    <th>สถานะ</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
              </VTable>
              <VCard height="370" class="overflow-y-auto" bg-color="#5F9EA0">
                <VTable>
                  <tbody v-if="serveStore.isTable">
                    <tr
                      v-for="(item, index) of orderItemStore.orderItems.filter(
                        (x) => x.status == 'serve'
                      )"
                      :key="item.id"
                    >
                      <td v-if="item.tableId == tableItem">
                        {{ index + 1 }}
                      </td>
                      <td v-if="item.tableId == tableItem">
                        {{ item.name }}
                      </td>
                      <td v-if="item.tableId == tableItem">
                        {{ item.tableId }}
                      </td>
                      <!-- <td></td> -->
                      <td v-if="item.tableId == tableItem">
                        {{ item.amount }}
                      </td>
                      <td
                        v-if="
                          item.tableId == tableItem &&
                          checkStatus(JSON.parse(JSON.stringify(item.status)))
                        "
                      >
                        {{ statusItem }}
                      </td>
                      <td v-if="item.tableId == tableItem">
                        <VBtn
                          v-bind:color="
                            serveStore.served === true
                              ? 'grey-lighten-1'
                              : 'green'
                          "
                          class="ma-1"
                          @click="editServe(item)"
                          align-center
                          >เสิร์ฟ</VBtn
                        >
                      </td>
                    </tr>
                    <tr></tr>
                  </tbody>
                </VTable>
              </VCard>
              <!-- <ServeList v-if="serveStore.isTable"></ServeList> -->
              <ServeDialog />
            </VCol>
          </VRow>
          <!-- </VCard> -->
        </VContainer>
      </VCol>
    </VRow>
  </VCard>
</template>
<style scoped>
.table_title {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.tile_background1 {
  background-color: #a3b4d2;
}

.tile_background2 {
  background-color: #eaf3f8;
}
</style>
