<script setup lang="ts">
import { ref } from "vue";
import { useServeStore } from "@/stores/serve";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const serveStore = useServeStore();
const close = () => {
  serveStore.close();
  serveStore.dialog = false;
};
const deleteServe = () => {
  serveStore.deleteServe();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="serveStore.dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h5"> เสิร์ฟ </v-card-title>
        <v-card-text>ต้องการเสิร์ฟรายการนี้ใช่หรือไม่</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="deleteServe"
            >ใช่</v-btn
          >
          <v-btn color="blue-darken-1" variant="text" @click="close">
            ไม่ใช่
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
