<script setup lang="ts">
import { useServeStore } from "@/stores/serve";
const serveStore = useServeStore();

const serveDialog = () => {
  serveStore.dialog = true;
};
</script>

<template>
  <VContainer>
    <VRow>
      <VCol cols="12">
        <v-table>
          <tr>
            <th>โต๊ะ</th>
            <th>เมนู</th>
            <th>สถานะ</th>
            <th></th>
          </tr>
          <tbody v-for="item of serveStore.serves" :key="item.id">
            <tr v-if="item.table == 1">
              <td>{{ item.table }}</td>
              <td>{{ item.name }}</td>
              <td color="red">{{ item.status }}</td>
              <td>
                <VBtn
                  v-bind:color="
                    serveStore.served === true ? 'grey-lighten-1' : 'green'
                  "
                  class="ma-1"
                  @click="serveDialog"
                  align-center
                  >เสิร์ฟ</VBtn
                >
              </td>
            </tr>
            <tr></tr>
          </tbody>
        </v-table>
      </VCol>
    </VRow>
  </VContainer>
</template>

<style scoped>
.v-table {
  padding: 20px 10px;
}

th,
td {
  text-align: center !important;
}
</style>
