<script setup lang="ts"></script>

<template>
  <div
    class="table-row v-btn--active"
    v-for="item in [1, 2, 3, 4, 5, 6]"
    :key="item"
  >
    <div class="left-side">
      <div class="table-name">โต๊ะ {{ item }}</div>
      <div class="table-order-date">date of order : 8/3/2556 21:24</div>
    </div>
    <div class="right-side"></div>
  </div>
</template>

<style scoped>
.container {
  width: 100%;
}

.table-row {
  cursor: pointer;
  padding: 8px 10px;
  background-color: rgb(206, 218, 231);
}
.table-row.active {
  background-color: rgb(130, 179, 232);
}
.table-name {
  font-size: 20px;
  color: rgb(0, 0, 0, 0.8);
}
.table-order-date {
  font-size: 16px;
  color: rgb(0, 0, 0, 0.5);
}
</style>
