<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import "@vuepic/vue-datepicker/dist/main.css";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useKitchenStore } from "@/stores/kitchen";
import orderItem from "@/services/orderItem";
import { useOrderItemStore } from "@/stores/orderItem";
import type OrderItem from "@/types/OrderItem";

const kitchenStore = useKitchenStore();
const form = ref<VForm | null>(null);
const tableStore = useTableStore();
const orderItemStore = useOrderItemStore();
const chef = ref("");

const save = async (chef: string) => {
  // orderItemStore.saveOrderItemCooking(orderItem);
  console.log(orderItemStore.editedOrderItem);
  kitchenStore.chefDialog = false;
  orderItemStore.chef = chef;
};

function confirm(orderItem: OrderItem, value: string) {
  // save();
  orderItemStore.editedOrderItem = orderItem;
  orderItemStore.editedOrderItem.chef = value;
  orderItemStore.editedOrderItem.status = "cooking";
  orderItemStore.saveOrderItemCooking(orderItemStore.editedOrderItem);
  // orderItemStore.saveOrderItemCooking;
  clear();
}
const clear = () => {
  chef.value = "";
  kitchenStore.chefDialog = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="kitchenStore.chefDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">เลือกพ่อครัว</span>
        </v-card-title>
        <v-card-text>
          <select
            class="chef-selector"
            v-model="chef"
            placeholder="เลือกพ่อครัว"
          >
            <option disabled value=""></option>
            <option value="chefChum">เชฟชุมพล</option>
            <option value="chefPom">เชฟป้อม</option>
            <option value="chefEain">เชฟเอียน</option>
            <!-- <option
                v-for="option in kitchenStore.chefs"
                :value="option"
                @click="save(option)"
              >
                {{ option }}
              </option> -->
          </select>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green"
            variant="text"
            @click="confirm(orderItemStore.editedOrderItem, chef)"
          >
            บันทึก
          </v-btn>
          <v-btn color="error" variant="text" @click="clear"> ยกเลิก </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.chef-selector {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
}
</style>
