<script setup lang="ts">
import { useKitchenStore } from "@/stores/kitchen";
import ChefDialog from "./ChefDialog.vue";
import { useOrderItemStore } from "@/stores/orderItem";
import type OrderItem from "@/types/OrderItem";
const kitchenStore = useKitchenStore();
const orderItemStore = useOrderItemStore();
let chefDoing = "";
function ok(orderItem: OrderItem) {
  orderItemStore.saveOrderItemServe(orderItem);
  console.log("ok");
}
function checkChef(chef: string) {
  if (chef == "chefChum") {
    chefDoing = "เชฟชุมพล";
  } else if (chef == "chefPom") {
    chefDoing = "เชฟป้อม";
  } else if (chef == "chefEain") {
    chefDoing = "เชฟเอียน";
  }
  return chefDoing;
}
</script>

<template>
  <!-- <v-card height="170"> -->
  <v-table>
    <thead>
      <tr>
        <th>คิว</th>
        <th>เมนู</th>
        <th>จำนวน</th>
        <th>เชฟที่รับผิดชอบอาหาร</th>
        <th></th>
      </tr>
    </thead>
  </v-table>
  <v-card height="126" class="overflow-y-auto" bg-color="#5F9EA0">
    <v-table>
      <tbody>
        <tr
          v-for="(item, index) of orderItemStore.orderItems.filter(
            (x) => x.status == 'cooking'
          )"
          :key="index"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
          <td v-if="checkChef(JSON.parse(JSON.stringify(item.chef)))">
            {{ chefDoing }}
          </td>
          <td class="action-container">
            <!-- <span style="background: red" class="action">ทำ</span>
              <span style="background: green" class="action">ยกเลิก</span> -->

            <span style="background: green" class="action" @click="ok(item)"
              >เสร็จ</span
            >
            <!-- <span style="background: green" class="action">ยกเลิก</span> -->
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
  <!-- </v-card> -->
</template>

<style scoped>
.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  min-width: 100px;
  margin: 0 5px;
  height: 70%;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
</style>
