<script setup lang="ts">
import QueueView from "./QueueView.vue";
import DoingView from "./DoingView.vue";
import OrderView from "./OrderView.vue";
import ChefDialog from "./ChefDialog.vue";
import { useMenuStore } from "@/stores/menu";
import { onMounted } from "vue";
import { useOrderItemStore } from "@/stores/orderItem";

const menuStore = useMenuStore();
const orderItemStore = useOrderItemStore();
onMounted(async () => {
  await orderItemStore.getOrderItems();
});
</script>

<template>
  <v-toolbar dense dark color="#5F9EA0">
    <v-toolbar-title class="text-center"> ห้องครัว </v-toolbar-title>
  </v-toolbar>
  <v-divider></v-divider>
  <v-card color="#F5F5F5" height="500">
    <div class="flex">
      <div class="left-panel">
        <div class="queue-container">
          <div class="tabs-container-full">
            <v-tabs v-model="menuStore.tabs" bg-color="gray">
              <v-tab value="queue">คิว</v-tab>
            </v-tabs>
            <v-window v-model="menuStore.tabs">
              <v-window-item value="queue">
                <QueueView></QueueView>
              </v-window-item>
            </v-window>
          </div>
        </div>
        <div class="doing-container">
          <div class="tabs-container-full">
            <v-tabs v-model="menuStore.tabs2" bg-color="gray">
              <v-tab value="doing">ออเดอร์กำลังทำ</v-tab>
            </v-tabs>
            <v-window v-model="menuStore.tabs2">
              <v-window-item value="doing">
                <DoingView></DoingView>
              </v-window-item>
            </v-window>
          </div>
        </div>
      </div>
      <div class="right-panel">
        <div class="tabs-container-full">
          <v-tabs v-model="menuStore.tabs2" bg-color="gray">
            <v-tab value="doing">ออเดอร์พร้อมเสิร์ฟ</v-tab>
          </v-tabs>
          <v-window v-model="menuStore.tabs2">
            <v-window-item value="doing">
              <OrderView></OrderView>
            </v-window-item>
          </v-window>
        </div>
      </div>
    </div>
  </v-card>
  <ChefDialog></ChefDialog>
</template>

<style scoped>
.flex {
  display: flex;
}

.left-panel {
  width: 61%;
}

.right-panel {
  margin-left: 25px;
  width: 35%;
}

.v-container {
  background: #919191;
}

.tabs-container-full {
  margin: 20px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.v-tabs {
  background: lightgray !important;
}

.v-card-text {
  background: lightgray !important;
}

.tabs-container {
  width: 48%;
  background-color: rgb(250, 250, 250);
}
</style>
