<script setup lang="ts">
import { useOrderItemStore } from "@/stores/orderItem";
import { mdiAutorenew } from "@mdi/js";
const orderItemStore = useOrderItemStore();
</script>

<template>
  <v-table>
    <thead>
      <tr>
        <th>คิว</th>
        <th></th>
        <th></th>
        <th></th>
        <th>เมนู</th>
        <th></th>
        <th></th>
        <th></th>
        <th>จำนวน</th>
      </tr>
    </thead>
  </v-table>
  <v-card height="365" class="overflow-y-auto" bg-color="#5F9EA0">
    <v-table>
      <tbody>
        <tr
          v-for="(item, index) of orderItemStore.orderItems.filter(
            (x) => x.status == 'serve'
          )"
          :key="index"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
        </tr>
        <!-- <v-btn :prepend-icon="mdiAutorenew"></v-btn> -->
        <!-- @click="" -->
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped>
.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  min-width: 100px;
  margin: 0 5px;
  height: 70%;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
</style>
