<script setup lang="ts">
import Swal from "sweetalert2";
import { useKitchenStore } from "@/stores/kitchen";
import { useOrderItemStore } from "@/stores/orderItem";
import { onMounted } from "vue";
import type OrderItem from "@/types/OrderItem";
const kitchenStore = useKitchenStore();
const orderItemStore = useOrderItemStore();

function dialog(orderItem: OrderItem) {
  orderItemStore.editedOrderItem = orderItem;
  kitchenStore.chefDialog = true;
  // orderItemStore.saveOrderItemCooking(orderItem);

  console.log(kitchenStore.chefs);
}
onMounted(async () => {
  await orderItemStore.getOrderItems;
});

function showcancel(orderItem: OrderItem) {
  Swal.fire({
    title: "คุณต้องการยกเลิกอาหาร?",
    text: "คุณต้องการที่จะยกเลิกรายการอาหารนี้ใช่หรือไม่",
    icon: "question",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "ใช่ต้องการยกเลิก",
    cancelButtonText: "ไม่ยกเลิก",
  }).then((result) => {
    if (result.isConfirmed) {
      //ใช้ได้ แต่แดงไม
      orderItemStore.deleteOrderItem(orderItem.id);
      Swal.fire(
        "ยกเลิกรายการอาหารนี้แล้ว!",
        "รายการยกเลิกอาหารของคุณสำเร็จแล้ว",
        "success"
      );
    }
  });
}
</script>

<template>
  <v-table>
    <thead>
      <tr>
        <th>คิว</th>
        <th>เมนู</th>
        <th>จำนวน</th>
        <th></th>
      </tr>
    </thead>
  </v-table>
  <v-card height="120" class="overflow-y-auto" bg-color="#5F9EA0">
    <v-table>
      <tbody>
        <tr
          v-for="(item, index) of orderItemStore.orderItems.filter(
            (x) => x.status == 'wait-cooking'
          )"
          :key="index"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
          <td class="action-container">
            <!-- <span style="background: red" class="action" @click="dialog"
              >ทำ</span
            > -->
            <!-- <span style="background: green" class="action">ยกเลิก</span> -->
            <span style="background: green" class="action" @click="dialog(item)"
              >ทำ</span
            >
            <span
              style="background: red"
              class="action"
              @click="showcancel(item)"
              >ยกเลิก</span
            >
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped>
.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  min-width: 100px;
  margin: 0 5px;
  height: 70%;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
</style>
